# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# JWT
JWT_SECRET=your_jwt_secret

# Mail
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password